* {
font:9pt serif;
margin:0;
padding:0;
}

b {
font-weight:bold;
}

i {
font-style:italic;
}

.klient, .our {
padding:20px;
border:1px solid #000;
}

.klient {
border-bottom:5px dotted #000;
}

.our {
border-top:none;
}

.phone {
font: bold 14pt serif;
}

img {
float:right;
}
